$my-primaryClassic: (
  50 : #f0e4e5,
  100 : #dabbbe,
  200 : #c28e92,
  300 : #aa6066,
  400 : #973e46,
  500 : #851c25,
  600 : #7d1921,
  700 : #72141b,
  800 : #681116,
  900 : #55090d,
  A100 : #ff8a8d,
  A200 : #ff575c,
  A400 : #ff242a,
  A700 : #ff0a12,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
$my-accentClassic: (
  50 : #eaecf2,
  100 : #cbcedf,
  200 : #a8aec9,
  300 : #858eb3,
  400 : #6a75a3,
  500 : #505d93,
  600 : #49558b,
  700 : #404b80,
  800 : #374176,
  900 : #273064,
  A100 : #a9b5ff,
  A200 : #7689ff,
  A400 : #435dff,
  A700 : #2a47ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
$my-accentModern: (
  50 : #e5e2f1,
  100 : #beb6dd,
  200 : #9285c7,
  300 : #6654b0,
  400 : #46309f,
  500 : #250b8e,
  600 : #210a86,
  700 : #1b087b,
  800 : #160671,
  900 : #0d035f,
  A100 : #9790ff,
  A200 : #675dff,
  A400 : #372aff,
  A700 : #1f10ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
$my-primaryModern: (
  50 : #fbfde8,
  100 : #f6fbc6,
  200 : #f0f9a0,
  300 : #eaf67a,
  400 : #e6f45e,
  500 : #e1f241,
  600 : #ddf03b,
  700 : #d9ee32,
  800 : #d5ec2a,
  900 : #cde81c,
  A100 : #ffffff,
  A200 : #fcffea,
  A400 : #f4ffb7,
  A700 : #f1ff9d,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
$my-warningClassic: (
  50 : #fee8e7,
  100 : #fcc7c3,
  200 : #faa19b,
  300 : #f77b72,
  400 : #f65f54,
  500 : #f44336,
  600 : #f33d30,
  700 : #f13429,
  800 : #ef2c22,
  900 : #ec1e16,
  A100 : #ffffff,
  A200 : #ffe9e9,
  A400 : #ffb8b6,
  A700 : #ff9f9c,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
//$my-warning: (
//  50 : #ffeceb,
//  100 : #ffcfcc,
//  200 : #ffafaa,
//  300 : #fe8f88,
//  400 : #fe776f,
//  500 : #fe5f55,
//  600 : #fe574e,
//  700 : #fe4d44,
//  800 : #fe433b,
//  900 : #fd322a,
//  A100 : #ffffff,
//  A200 : #ffffff,
//  A400 : #ffd7d5,
//  A700 : #ffbebc,
//  contrast: (
//    50 : #000000,
//    100 : #000000,
//    200 : #000000,
//    300 : #000000,
//    400 : #000000,
//    500 : #000000,
//    600 : #000000,
//    700 : #000000,
//    800 : #ffffff,
//    900 : #ffffff,
//    A100 : #000000,
//    A200 : #000000,
//    A400 : #000000,
//    A700 : #000000,
//  )
//);
$my-darkpalette: (
  50 : #e3e3e4,
  100 : #b8b8bb,
  200 : #89898d,
  300 : #5a595f,
  400 : #36363d,
  500 : #13121b,
  600 : #111018,
  700 : #0e0d14,
  800 : #0b0a10,
  900 : #060508,
  A100 : #4f4fff,
  A200 : #1c1cff,
  A400 : #0000e8,
  A700 : #0000cf,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$my-palette-primary: $my-primaryClassic;
$my-palette-accent:  $my-accentClassic;
$my-palette-warning:  $my-warningClassic;
