//was #851c25
$my-primaryClassic: (
  50 : #f5e6e5,
  100 : #e6c2be,
  200 : #d69992,
  300 : #c67066,
  400 : #b95146,
  500 : #ad3225,
  600 : #a62d21,
  700 : #9c261b,
  800 : #931f16,
  900 : #83130d,
  A100 : #ffb7b4,
  A200 : #ff8681,
  A400 : #ff544e,
  A700 : #ff3c35,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);
//was #3a59af
$my-accentClassic: (
  50 : #e7ebf5,
  100 : #c4cde7,
  200 : #9dacd7,
  300 : #758bc7,
  400 : #5872bb,
  500 : #3a59af,
  600 : #3451a8,
  700 : #2c489f,
  800 : #253e96,
  900 : #182e86,
  A100 : #bec9ff,
  A200 : #8b9eff,
  A400 : #5874ff,
  A700 : #3e5eff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
$my-accentModern: (
  50 : #e5e2f1,
  100 : #beb6dd,
  200 : #9285c7,
  300 : #6654b0,
  400 : #46309f,
  500 : #250b8e,
  600 : #210a86,
  700 : #1b087b,
  800 : #160671,
  900 : #0d035f,
  A100 : #9790ff,
  A200 : #675dff,
  A400 : #372aff,
  A700 : #1f10ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
$my-primaryModern: (
  50 : #fbfde8,
  100 : #f6fbc6,
  200 : #f0f9a0,
  300 : #eaf67a,
  400 : #e6f45e,
  500 : #e1f241,
  600 : #ddf03b,
  700 : #d9ee32,
  800 : #d5ec2a,
  900 : #cde81c,
  A100 : #ffffff,
  A200 : #fcffea,
  A400 : #f4ffb7,
  A700 : #f1ff9d,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
$my-warningClassic: (
  50 : #faf0e6,
  100 : #f2dac0,
  200 : #eac296,
  300 : #e1aa6c,
  400 : #da974d,
  500 : #d4852d,
  600 : #cf7d28,
  700 : #c97222,
  800 : #c3681c,
  900 : #b95511,
  A100 : #fff0e8,
  A200 : #ffd0b5,
  A400 : #ffb082,
  A700 : #ffa069,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
//$my-warning: (
//  50 : #ffeceb,
//  100 : #ffcfcc,
//  200 : #ffafaa,
//  300 : #fe8f88,
//  400 : #fe776f,
//  500 : #fe5f55,
//  600 : #fe574e,
//  700 : #fe4d44,
//  800 : #fe433b,
//  900 : #fd322a,
//  A100 : #ffffff,
//  A200 : #ffffff,
//  A400 : #ffd7d5,
//  A700 : #ffbebc,
//  contrast: (
//    50 : #000000,
//    100 : #000000,
//    200 : #000000,
//    300 : #000000,
//    400 : #000000,
//    500 : #000000,
//    600 : #000000,
//    700 : #000000,
//    800 : #ffffff,
//    900 : #ffffff,
//    A100 : #000000,
//    A200 : #000000,
//    A400 : #000000,
//    A700 : #000000,
//  )
//);
$my-darkpalette: (
  50 : #e3e3e4,
  100 : #a7a7c0,
  200 : #767690,
  300 : #514e61,
  400 : #3a3a4a,
  500 : #13121b,
  600 : #111018,
  700 : #0e0d14,
  800 : #0b0a10,
  900 : #060508,
  A100 : #4f4fff,
  A200 : #1c1cff,
  A400 : #0000e8,
  A700 : #0000cf,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$my-palette-primary: $my-primaryClassic;
$my-palette-accent:  $my-accentClassic;
$my-palette-warning:  $my-warningClassic;
