@import './src/assets/scss/variables';
.spacer {
  flex: 1 1 auto;
}
.mat-toolbar {
  background: $primary-gradient;
  border-radius: 0 0 $border-radius-xl $border-radius-xl;
  box-shadow: $primary-shadow;
}
