<div class="wrapper">
  <div class="w-100">
    <mat-card class="card-special">
      <mat-card-header>
        <mat-card-title>
          <h2 class="header"><b class="primary-text">ЕНЕРІ</b> — перша українська платформа для пошуку настільних рольових ігор у твоєму місті</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="m-t-10">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;Ми — невелика група НРІ-ентузіастів, “гіків”, які створили перший централізований портал для пошуку та запису на настільні рольові ігри в Україні.</p>
        <p class="m-t-10 m-b-10 question">&nbsp;&nbsp;&nbsp;&nbsp;<i>Навіщо?</i></p>
        <p>
          &nbsp;&nbsp;&nbsp;&nbsp;Українське НРІ-ком’юніті росте, Dungeons and Dragons вже встиг стати мейнстрімом, а гравцям та майстрам досі доводиться шукати одне одного по десятках Telegram-чатів. Гуд лак знайти гру і через Google — він знає лише про один-два клуби у Києві.
        Саме тому ми розробили <b class="primary-text">ЕНЕРІ</b> — платформу, де ви зможете:
        </p>
        <ul>
          <li>
            Знайти настільну рольову гру у своєму місті
          </li>
          <li>
            Вибрати не тільки DnD, а й менш “хайпові” НРІ: Vampire: The masquerade, Cyberpunk, Warhammer (ми додамо все, на що буде запит від спільноти)
          </li>
          <li>
            Одразу записатись на потрібний день та час, не переходячи на сторонні ресурси
          </li>
        </ul>
        <p>
          &nbsp;&nbsp;&nbsp;&nbsp;
          Ми сподіваємось, що <b class="primary-text">ЕНЕРІ</b> стане тим мостом між гравцями та майстрами, який допоможе у популяризації настільних рольових ігор в Україні. І що скоро НРІ-ком’юніті буде налічувати не сотні, а тисячі українців із усіх куточків нашої країни.
        </p>

      </mat-card-content>
    </mat-card>
  </div>
</div>
