@import './src/assets/scss/variables';
.w-100 {
  min-height: $page-height;
}

.fields-container {
  display: flex;
  justify-content: space-between;
  mat-form-field {
    width: 49%;
  }
}

@media screen and (max-width: $breakpoint-S) {
  .fields-container {
    flex-wrap: wrap;
    mat-form-field {
      width: 100%;
    }
  }
}
