<div>
  <div class="wrapper">
    <div>
      <mat-card class="card-special">
        <mat-card-header>
          <mat-card-title>
            <h2 class="header">{{gameRequest ? (editing ? 'Редагувати ЗАПИТ гри' : 'Створити ЗАПИТ гри') : (editing ? 'Редагувати гру' : 'Створити гру')}}</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form class="form" [formGroup]="form">
            <mat-form-field>
              <mat-label>Назва гри</mat-label>
              <input matInput formControlName="title" [placeholder]="'Як буде називатися пригода'">
              <mat-icon matSuffix [color]="'primary'" *ngIf="formTitle.valid || !formTitle.touched">
                sentiment_very_satisfied
              </mat-icon>
              <mat-icon matSuffix [color]="'warn'" *ngIf="formTitle.invalid && formTitle.touched">
                sentiment_very_dissatisfied
              </mat-icon>
              <mat-error *ngIf="formTitle.getError('required')">{{texts.validations.required}}</mat-error>
              <mat-error *ngIf="formTitle.hasError('minlength')">
                {{texts.validations.minLength}}
                {{ formTitle.getError('minlength')['requiredLength']}}
              </mat-error>
              <mat-error *ngIf="formTitle.getError('maxlength')">
                {{texts.validations.maxLength}}
                {{ formTitle.getError('maxlength')['requiredLength']}}
              </mat-error>
            </mat-form-field>

            <mat-form-field class="text-area-handler">
              <mat-label>{{gameRequest ? 'Очікування' : 'Подробиці'}}</mat-label>
              <textarea matInput formControlName="description" rows="5"
                        [placeholder]="gameRequest ?
                        'Деталі пригоди, можливо це готовий модуль, або навчальна гра, аба певний сеттинг. Напишіть чого ви очікуєте від гри.' :
                        'Деталі пригоди - хто, де, коли'"></textarea>
              <mat-error *ngIf="formDescription.hasError('minlength')">
                {{texts.validations.minLength}}
                {{ formDescription.getError('minlength')['requiredLength']}}
              </mat-error>
              <mat-error *ngIf="formDescription.getError('maxlength')">
                {{texts.validations.maxLength}}
                {{ formDescription.getError('maxlength')['requiredLength']}}
              </mat-error>
              <mat-error *ngIf="formDescription.getError('required')">{{texts.validations.required}}</mat-error>
            </mat-form-field>

            <mat-slide-toggle [matTooltipClass]="'tooltip'"
                              [matTooltip]="'Оберіть це, якщо плануєте грати в Adventures League, Pathfinder Society або аналоги в інших системах'"
                              formControlName="organizedPlay"
                              class="m-l-15 m-b-15">
              Організована ігрова кампанія
            </mat-slide-toggle>

            <mat-form-field>
              <mat-label>Теги, через кому</mat-label>
              <input matInput formControlName="tags" [placeholder]="'Щоб авантюристам було легше орієнтуватися'">
              <mat-icon matSuffix [color]="formTags.valid || !formTags.touched ? 'primary' : 'warn'">#</mat-icon>
              <mat-error *ngIf="formTags.getError('maxlength')">
                {{texts.validations.maxLength}}
                {{ formTags.getError('maxlength')['requiredLength']}}
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Додайте зображення</mat-label>
              <ngx-mat-file-input placeholder="" formControlName="file" [color]="'accent'"
                                  accept=".png, .jpg, .jpeg, .gif, .webp, .jfif">
              </ngx-mat-file-input>
              <mat-error *ngIf="formFile?.getError('maxSize')">
                {{texts.validations.maxImgSize}} 3Mb
              </mat-error>
            </mat-form-field>

<!--            <mat-form-field>-->
<!--              <mat-label>Посилання на зображення</mat-label>-->
<!--              <input matInput formControlName="imgUrl" [placeholder]="'Так, так, поки що лише посилання'">-->
<!--              <mat-icon matSuffix-->
<!--                        [color]="formImgUrl.valid || !formImgUrl.touched ? 'primary' : 'warn'">-->
<!--                add_photo_alternate-->
<!--              </mat-icon>-->
<!--              <mat-error-->
<!--                *ngIf="formImgUrl.getError('pattern') || formImgUrl.getError('wrongImageLink')">-->
<!--                {{texts.validations.imgPattern}}-->
<!--              </mat-error>-->
<!--              <mat-error *ngIf="formImgUrl.getError('maxlength')">-->
<!--                {{texts.validations.maxLength}}-->
<!--                {{ formImgUrl.getError('maxlength')['requiredLength']}}-->
<!--              </mat-error>-->
<!--            </mat-form-field>-->

            <div class="fields-container">
              <mat-form-field>
                <mat-label>Обери гру</mat-label>
                <mat-select formControlName="gameSystemId">
                  <mat-option *ngFor="let item of gameSystems" [value]="item._id">{{item.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="formGameSystemId.getError('required')">{{texts.validations.required}}</mat-error>
              </mat-form-field>

              <mat-form-field>
                <input matInput [ngxMatDatetimePicker]="picker" [min]="$any(minDate)" placeholder="Коли чекати"
                       formControlName="startDateTime">
                <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #picker [showSeconds]="false">
                  <ng-template>
                    <!-- <mat-icon>star</mat-icon> -->
                    <span>Спланувати</span>
                  </ng-template>
                </ngx-mat-datetime-picker>
              </mat-form-field>
            </div>

            <div class="fields-container">
              <mat-form-field>
                <mat-label>Ціна, грн.</mat-label>
                <input type="number" min="0" step="50" matInput formControlName="price"
                       [placeholder]="'Або твоя винагорода'">
                <mat-icon matSuffix
                          [color]="formPrice.valid || !formPrice.touched ? 'primary' : 'warn'">
                  toll
                </mat-icon>
                <mat-error *ngIf="formPrice.getError('required')">{{texts.validations.required}}</mat-error>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Гравці</mat-label>
                <input type="number" min="{{game?.players?.length || 1}}" matInput formControlName="maxPlayers"
                       [placeholder]="'Максимум пригодників'">
                <mat-icon matSuffix
                          [color]="formMaxPlayers.valid || !formMaxPlayers.touched ? 'primary' : 'warn'">
                  elderly
                </mat-icon>
                <mat-error *ngIf="formMaxPlayers.getError('required')">{{texts.validations.required}}</mat-error>
              </mat-form-field>
            </div>

            <div class="fields-container">
              <mat-form-field>
                <mat-label>Місто, або онлайн</mat-label>
                <mat-select formControlName="cityCode">
                  <mat-option *ngFor="let city of cities" [value]="city.code">{{city.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="formCityCode.getError('required')">{{texts.validations.required}}</mat-error>
              </mat-form-field>

              <div class="form-field-wrapper">
                <mat-slide-toggle [matTooltipClass]="'tooltip'"
                                  [matTooltip]="'Ігри будуть видимі лише за прямим посиланням, або у вас в профілі за спеціальним посиланням'"
                                  formControlName="linkOnly"
                                  class="m-l-15">
                  Доступ за посиланням чи ключем
                </mat-slide-toggle>
              </div>
            </div>

            <mat-slide-toggle [checked]="isShowBooked" [matTooltipClass]="'tooltip'"
                              [matTooltip]="'Просунуті налаштування\nВикористовувати уважно'"
                              (change)="changeBooking()" class="m-l-15 m-b-15">
              Заброньовані місця
            </mat-slide-toggle>

            <div *ngIf="isShowBooked">
              <hr class="m-b-25">
              <ul>
                <li>Збільшість кількість гравців, щоб додати слоти для бронювання.</li>
                <li>Телеграм заброньованого користувача має співпадати з вказаним у профілі.</li>
                <li>Здається, що пропала бронь? Після того, як гравець запишеться його бронь видалиться.</li>
                <li>Не додавайте того самого користувача в заброньовані, після того, як він вже записався. Це займе ще один слот. (І немає сенсу)</li>
                <li>Телеграм використовується для того, щоб мати змогу забронювати місце за ще не зареєстрованим гравцем.</li>
                <li>Для підтвердження запису, гравець має зареєструватися.</li>
                <li>Ви можете відредагувати або видалити бронювання. Переконайтеся, що воно не співпадає з записаними гравцями.</li>
              </ul>
              <ng-container formArrayName="booked" *ngFor="let bookedUser of formBooked.controls; let i = index;">
                <div [formGroupName]="i">
                  <mat-form-field>
                    <mat-label>За ким заброньовано гру</mat-label>
                    <input matInput formControlName="userTelegram" [appSymbolBlock]="'telegram'"
                           [placeholder]="'Введіть телеграм авантюриста'">
                    <mat-icon matSuffix
                              [color]="formBookedTelegramIndex(i)?.valid || !formBookedTelegramIndex(i)?.touched ? 'primary' : 'warn'">
                      telegram
                    </mat-icon>
                    <mat-error *ngIf="formBookedTelegramIndex(i)?.hasError('minlength')">
                      {{texts.validations.minLength}}
                      {{ formBookedTelegramIndex(i)?.getError('minlength')['requiredLength']}}
                    </mat-error>
                    <mat-error *ngIf="formBookedTelegramIndex(i)?.hasError('maxlength')">
                      {{texts.validations.maxLength}}
                      {{ formBookedTelegramIndex(i)?.getError('maxlength')['requiredLength']}}
                      {{formBookedTelegramIndex(i) | json}}
                    </mat-error>
                  </mat-form-field>
                </div>
              </ng-container>
            </div>

          </form>
        </mat-card-content>
        <mat-card-content>
          <mat-card-footer>
            <div class="buttons">
              <button mat-raised-button color="primary" [disabled]="!!postingText || form.invalid" (click)="openModal()">
                {{postingText ? postingText : editing ? 'Редагувати' : 'Створити'}}
              </button>
            </div>
          </mat-card-footer>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="preview-wrapper">
    <app-game-card [isPreview]="true" [game]="gameForPreview!" [user]="{username: 'username'}"></app-game-card>
  </div>
</div>
