@import './src/assets/scss/variables';
.header {
  transition: all .2s;
  &:hover {
    color: $accent-hover;
  }
}
.image-wrapper {
  padding: 0 20px;
  text-align: center;
  img {
    align-self: flex-start;
    max-width: 100%;
    max-height: 450px;
    margin: -30px 0 0;
    border-radius: 24px;
    box-shadow: 0 17px 35px -20px $primary-shadow-color;
  }
}
b {
  font-weight: 500;
}

mat-card-footer {
  background-color: $primary;
  border-radius: 0 0 24px 24px;
}
pre {
  //display: -webkit-box;
  //-webkit-line-clamp: 10;
  //line-clamp: 10;
  //-webkit-box-orient: vertical;
  //overflow: hidden;
  word-wrap: break-word;
  white-space: pre-wrap;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}
.link {
  color: $accent;
  transition: color .2s;
  &:hover {
    color: $accent-hover
  }
}
.tag {
  ::ng-deep.mat-mdc-chip-action-label {
    cursor: pointer;
  }
}
.card-content {
  margin-top: -10px;
}
.mw-detailed {
  max-width: calc(100% - 400px);
}
.header-texts {
  flex: 1 1 0;
}
mat-card-content.mw-detailed {
  min-height: 275px;
}
.table-wrapper {
  width: 100%;
  overflow-x: auto;
  table {
    table-layout: fixed;
    min-width: 500px;
    width: 100%;
    margin-bottom: $padding-s;
    tr {
      height: 3rem!important;
    }
    td, th {
      height: 3rem;
      vertical-align: middle;
      line-height: 3rem;
      overflow: hidden;
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
      //line-height: 1.5rem;
    }
    mat-icon {
      transform: translateY(8px);
      opacity: .8;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
    .with-notifier {
      position: relative;
      padding-left: $padding-xs;
      .notifier {
        position: absolute;
        top: -8px;
        left: -14px;
        font-size: 17px;
        opacity: 1;
        cursor: default!important;
      }
    }
  }
}

.detailed-image {
  position: absolute;
  max-height: 400px;
  width: fit-content;
  max-width: 400px;
  right: -40px;
  top: 0;
  img {
    max-height: 400px;
  }
}

.telegram {
  color: $telegram;
}
.facebook {
  color: $facebook;
}
.copy {
  color: $primary;
}
.dndme {
  margin-left: $padding-m;
}

.social, ::ng-deep .mat-menu-content {
  display: flex;
  align-items: center;
  //padding-left: calc($padding-default + $padding-s);
}
.avatar-image.detailed {
  margin-right: $padding-s;
}

@media screen and (max-width: 1530px) {
  .detailed-margin {
    margin-right: 30px;
  }
}
@media screen and (max-width: 1340px) {
  .detailed-margin {
    margin-right: 0;
  }
  .detailed-image {
    max-height: 500px;
    max-width: calc(100% - 40px);
    position: static;
    margin: 0 auto 0;
  }
  .mw-detailed {
    max-width: 100%;
  }
  .avatar-image.detailed {
    margin-right: 0;
  }
}
@media screen and (max-width: 410px) {
  .detailed-image {
    max-height: 350px;
    max-width: 95%;
  }
  .avatar-image.detailed {
    margin-top: $padding-s;
  }
}
