@use '@angular/material' as mat;
@use 'sass:map';
@import '@angular/material/theming';
@include mat.core();

$my-primaryClassic: (
  50 : #e5f2f8,
  100 : #bddfee,
  200 : #92cae2,
  300 : #66b5d6,
  400 : #45a5ce,
  500 : #2495c5,
  600 : #208dbf,
  700 : #1b82b8,
  800 : #1678b0,
  900 : #0d67a3,
  A100 : #d2ebff,
  A200 : #9fd5ff,
  A400 : #6cbeff,
  A700 : #52b3ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
$my-accentClassic: (
  50 : #f9fdff,
  100 : #f1fafe,
  200 : #e7f6fe,
  300 : #ddf2fe,
  400 : #d6f0fd,
  500 : #cfedfd,
  600 : #caebfd,
  700 : #c3e8fc,
  800 : #bde5fc,
  900 : #b2e0fc,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
$my-accentModern: (
  50 : #e5e2f1,
  100 : #beb6dd,
  200 : #9285c7,
  300 : #6654b0,
  400 : #46309f,
  500 : #250b8e,
  600 : #210a86,
  700 : #1b087b,
  800 : #160671,
  900 : #0d035f,
  A100 : #9790ff,
  A200 : #675dff,
  A400 : #372aff,
  A700 : #1f10ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
$my-primaryModern: (
  50 : #fbfde8,
  100 : #f6fbc6,
  200 : #f0f9a0,
  300 : #eaf67a,
  400 : #e6f45e,
  500 : #e1f241,
  600 : #ddf03b,
  700 : #d9ee32,
  800 : #d5ec2a,
  900 : #cde81c,
  A100 : #ffffff,
  A200 : #fcffea,
  A400 : #f4ffb7,
  A700 : #f1ff9d,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
$my-warning: (
  50 : #ffeceb,
  100 : #ffcfcc,
  200 : #ffafaa,
  300 : #fe8f88,
  400 : #fe776f,
  500 : #fe5f55,
  600 : #fe574e,
  700 : #fe4d44,
  800 : #fe433b,
  900 : #fd322a,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffd7d5,
  A700 : #ffbebc,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
$my-darkpalette: (
  50 : #e3e3e3,
  100 : #b9b9b9,
  200 : #8a8a8a,
  300 : #5b5b5b,
  400 : #383838,
  500 : #151515,
  600 : #121212,
  700 : #0f0f0f,
  800 : #0c0c0c,
  900 : #060606,
  A100 : #a6a6a6,
  A200 : #8c8c8c,
  A400 : #737373,
  A700 : #666666,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

@function modify-background($theme, $background-color) {

  $theme-color: map.get($theme, color);
  $color-background-palette: map.get($theme-color, background);
  $color-background-palette: map.merge($color-background-palette, (background: $background-color));
  $color-background-palette: map.merge($color-background-palette, (raised-button: $background-color));
  $color-background-palette: map.merge($color-background-palette, (card: map.get($my-darkpalette, 500)));
  $color-background-palette: map.merge($color-background-palette, (dialog: map.get($my-darkpalette, 500)));

  // Replace the background in the background palette.
  $background-palette: map.get($theme, background);
  $background-palette: map.merge($background-palette, (background: $background-color));
  $background-palette: map.merge($background-palette, (raised-button: $background-color));
  $background-palette: map.merge($background-palette, (card: map.get($my-darkpalette, 500)));
  $background-palette: map.merge($background-palette, (dialog: map.get($my-darkpalette, 500)));

  // Merge the changes into a new theme.
  $modified-theme-color: map.merge($theme-color, (background: $color-background-palette));
  $modified-theme: map.merge($theme, (color: $modified-theme-color));
  $modified-theme: map.merge($modified-theme, (background: $background-palette));

  @return $modified-theme;
}

// mandatory stuff for theming
$my-light-primary: mat.define-palette($my-primaryModern);
$my-light-accent:  mat.define-palette($my-accentModern);
$my-light-warning:  mat.define-palette($my-warning);

$my-custom-typography-config: mat.define-typography-config(
  //$headline-1: mat.define-typography-level(112px, 112px, 300, "Ahellya", $letter-spacing: -0.05em),
  //$headline-2: mat.define-typography-level(56px, 56px, 400, "Ahellya", $letter-spacing: -0.02em),
  //$headline-3: mat.define-typography-level(45px, 48px, 400, "Ahellya", $letter-spacing: -0.005em),
  //$headline-4: mat.define-typography-level(34px, 40px, 400, "Ahellya"),
  //$headline-5: mat.define-typography-level(24px, 32px, 400, "Ahellya"),
  $headline-6: mat.define-typography-level(24px, 32px, 400, '"Ahellya", Roboto, "Helvetica Neue", sans-serif'),
  //$subtitle-1: mat.define-typography-level(24px, 32px, 400, "Roboto"),
  //$subtitle-2: mat.define-typography-level(24px, 32px, 400, "Roboto"),
  //$body-1: mat.define-typography-level(24px, 32px, 400, "Roboto"),
  //$body-2: mat.define-typography-level(24px, 32px, 400, "Roboto"),
  //$caption: mat.define-typography-level(24px, 32px, 400, "Roboto"),
  //$button: mat.define-typography-level(24px, 32px, 400, "Roboto"),
  //$overline: mat.define-typography-level(24px, 32px, 400, "Ahellya"),
);

// include the custom theme components into a theme object
$bv-theme: mat.define-dark-theme((
  color: (
    primary: $my-light-primary,
    accent: $my-light-accent,
    warn: $my-light-warning
  ),
  //typography: $my-custom-typography-config
));
$bv-theme: modify-background($bv-theme, map.get($my-darkpalette, 500));

// include the custom theme object into the angular material theme
@include angular-material-theme($bv-theme);
