$primary: #2495c5;
$accent: #cfedfd;
$warning: #c55424;
$analogue1: #24c5a5;
$analogue2: #2445c5;
$dark: #0d6b9e;

$primary-gradient: linear-gradient(90deg, rgba(49,162,203,1) 0%, rgba(35,145,194,1) 100%);
$primary-shadow-color: rgba(13,107,158,0.35);
$primary-shadow: 0 5px 5px 0 $primary-shadow-color;

$border-radius-xl: 20px;
