<footer>
  <div class="wrapper">
    <div class="d-flex columns">
      <div>
        <h4>Підтримати проект:</h4>
          <div class="support-buttons">
            <button mat-mini-fab class="sup-btn white-fab-button"
                    [matTooltipClass]="'tooltip'" matTooltip="Купити нам каву на buymeacoffee">
              <a href="https://www.buymeacoffee.com/eneri" target="_blank">
                <svg-icon src="/assets/images/icons/buymeacoffee.svg"></svg-icon>
              </a>
            </button>

            <div class="sup-btn mono-btn">
              <a href="https://send.monobank.ua/jar/4k2t79Pkf2" target="_blank" [matTooltipClass]="'tooltip'" matTooltip="Скинути на монобанку">
                <img src="/assets/images/icons/mono.png" alt="monobank">
              </a>
            </div>
          </div>
      </div>

      <div>
        <mat-nav-list>
          <a [routerLink]="'/about'">
            <mat-list-item>Про ЕНЕРІ</mat-list-item>
          </a>
          <mat-list-item (click)="partnersDialog()">Партнери</mat-list-item>
<!--          <mat-list-item (click)="partnersDialog()">Партнери</mat-list-item>-->
<!--          <mat-list-item (click)="partnersDialog()">Партнери</mat-list-item>-->
        </mat-nav-list>
      </div>

      <div>
        <h4>Соц. мережі:</h4>
        <button class="telegram" mat-icon-button
                (click)="openTg()" matTooltipClass="tooltip" matTooltip="Новини Енері">
          <mat-icon>telegram</mat-icon>
        </button>
      </div>

      <div class="fill-space-col">
        <h4>Над проектом працювали:</h4>
        <p class="p-t-5 p-b-5"><a href="https://t.me/shoshanna_5" target="_blank" class="link">@shoshanna_5</a> - допомога з текстами</p>
        <p class="p-t-5 p-b-5"><a href="https://t.me/Lootgvfr" target="_blank" class="link">@Lootgvfr</a> - найскладніше на бекенді</p>
        <p class="p-t-5 p-b-5"><a href="https://t.me/lehenshtein" target="_blank" class="link">@lehenshtein</a> - все інше</p>
      </div>
    </div>
  </div>
</footer>
