@import './src/assets/scss/variables';
b {
  font-weight: 500;
}
pre {
  white-space: pre-wrap;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}
.card-special {
  &>.flex-no-occupy {
    order: 1;
  }
  &>.avatar-image {
    order: 2;
    width: 130px;
    height: 130px;
    margin: $padding-l $padding-l 0 0;
  }
}

@media screen and (max-width: $breakpoint-XS) {
  .card-special {
    flex-direction: column!important;
    &>.flex-no-occupy {
      order: 2;
    }
    &>.avatar-image {
      order: 1;
      margin: $padding-s auto;
    }
  }
}
