<div class="wrapper">
  <div class="w-100">
    <mat-card class="card-special flex-row justify-space-between" *ngIf="user">
      <div class="flex-no-occupy">
        <mat-card-header class="justify-space-between">
          <mat-card-title>
            <h2 class="header">{{user.gameRole === 'both' ? 'Майстер:' : 'Гравець:'}} {{userName}}</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <div class="d-flex align-center m-b-10" *ngIf="getUserTelegram() as telegram">
            <b class="primary-text semibold">Телеграм:&nbsp;</b>  <span class="link">
            <a [href]='"https://t.me/" + telegram' target="_blank">{{telegram}}</a>
          </span>
          </div>

          <div class="d-flex align-center m-b-10" *ngIf="user.name">
            <b class="primary-text semibold">Ім'я: </b> <span class="m-l-5">{{user.name}}</span>
          </div>

          <div class="m-b-10" *ngIf="user.about">
            <b class="primary-text semibold d-block m-b-5">{{user.gameRole === 'both' ? 'Про майстра:' : 'Про гравця:'}}</b>
            <pre>{{user.about}}</pre>
          </div>

          <div class="d-flex align-center m-b-10">
            <b class="primary-text semibold">На ЕНЕРІ з: </b> <span class="m-l-5">{{user.createdAt | date: 'dd.MM.yyyy'}}</span>
          </div>

        </mat-card-content>
      </div>

      <div class="avatar-image">
        <img mat-card-image
            [src]="user.avatar ? user.avatar : '../../../assets/images/avatar-placeholder.jpg'" alt="avatar">
      </div>
    </mat-card>
  </div>
</div>
