@import 'src/assets/scss/variables';
.site-info {
  padding: 0 $padding-default;
  display: flex;
  align-items: center;
  height: 64px;
  cursor: pointer;
  &:hover {
    .logo {
      transition: all .8s cubic-bezier(0,0.1,0.1,1);
      transform: rotateZ(360deg);
      //&-wrapper {
      //  transform: rotateZ(180deg);
      //}
      //&--left {
      //  transform: scale(1) translateX(7px);
      //}
      //&--right {
      //  transform: scale(1) translateX(-7px);
      //}
    }
  }
  & .glow {
    text-shadow: 1px 1px 1px $primary, -1px -1px 1px $primary,  -1px 1px 1px $primary,  1px -1px 1px $primary;
  }
  & .logo {
    height: calc(100% - 12px);
    margin-right: $padding-xl;
    //&-wrapper {
    //  height: calc(100% - 6px);
    //  margin-top: 2px;
    //  margin-right: $padding-xl;
    //  transition: all .3s;
    //}
    //
    //&--left {
    //  margin-right: 4px;
    //  transform: scale(.9);
    //}
    //&--center {
    //  margin-right: 4px;
    //}
    //&--right {
    //  transform: scale(.9);
    //}
  }
}
a.active {
  mat-list-item {
    //background-color: rgba(165, 156, 237, 0.2);
    background-color: rgba(173, 50, 37, 0.1);
  }
}
.sidebar-wrapper {
  min-width: 310px;
  position: sticky;
  top: 0;
}

.list-item--warn {
  //background-color: $warning;
  border-bottom: 1px solid $warning;
  color: $warning;
}
h4 {
  letter-spacing: 2px;
  font-weight: 500;
  margin-left: $padding-l;
}
.columns {
  div {
    width: 50%;
  }
}

.telegram {
  color: #2ba6e1;
}

.admin-btn {
  position: absolute;
  right: 20px;
  z-index: 100;
}
