@import 'src/assets/scss/variables';
.site-info {
  padding: 0 $padding-default;
  display: flex;
  align-items: center;
  height: 64px;
  cursor: pointer;
  &:hover {
    .logo {
      transform: rotateZ(180deg);
    }
  }
  & .glow {
    text-shadow: 1px 1px 1px $primary, -1px -1px 1px $primary,  -1px 1px 1px $primary,  1px -1px 1px $primary;
  }
  & .logo {
    height: calc(100% - 16px);
    margin-right: $padding-xl;
    transition: all .3s;
  }
}

.sidebar-wrapper {
  min-width: 310px;
  position: sticky;
  top: 0;
}

.list-item--warn {
  //background-color: $warning;
  border-bottom: 1px solid $warning;
  color: $warning;
}
h4 {
  letter-spacing: 2px;
  font-weight: 500;
  margin-left: $padding-l;
}
.columns {
  div {
    width: 50%;
  }
}

.telegram {
  color: #2ba6e1;
}
