<div class="wrapper">
  <div class="w-100">
    <mat-card class="card-special" *ngIf="user">
      <mat-card-header class="justify-space-between">
        <mat-card-title>
          <h2 class="header">Дані: {{user.username}}</h2>
        </mat-card-title>
        <button class="menu" [matTooltip]="'Редагувати'" [matTooltipClass]="'tooltip'" [color]="form.disabled ? undefined : 'accent'" (click)="toggleForm()" mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        <form class="form" [formGroup]="form">
          <mat-form-field>
            <mat-label>Ім'я</mat-label>
            <input matInput formControlName="name" [placeholder]="'Твоє звичайне ім\'я'">
            <mat-icon matSuffix [color]="'primary'" *ngIf="formName.valid || !formName.touched">sentiment_very_satisfied
            </mat-icon>
            <mat-icon matSuffix [color]="'warn'" *ngIf="formName.invalid && formName.touched">
              sentiment_very_dissatisfied
            </mat-icon>
            <mat-error *ngIf="formName.getError('maxlength')">
              {{texts.validations.maxLength}}
              {{ formName.getError('maxlength')['requiredLength']}}
            </mat-error>
          </mat-form-field>
          <mat-form-field *ngIf="user.gameRole === 'both'">
            <mat-label>Про себе</mat-label>
            <textarea matInput formControlName="about" rows="3"
                      [placeholder]="'За бажання, розкажи трохи про себе, як майстра. Стиль гри, системи, досід, тощо.'"></textarea>
            <mat-error *ngIf="formAbout.getError('maxlength')">
              {{texts.validations.maxLength}}
              {{ formAbout.getError('maxlength')['requiredLength']}}
            </mat-error>
          </mat-form-field>

          <div formGroupName="contactData">
            <div class="phone__form-wrapper">
              <mat-form-field class="phone__code">
                <input matInput disabled value="+38">
              </mat-form-field>
              <mat-form-field class="phone__field" [ngClass]="{filled: formPhone.value}">
                <mat-label>Телефон</mat-label>
                <input matInput formControlName="phone" type="tel" appPhone
                  [placeholder]="user.gameRole === 'player' ? 'Лише майстер побачить' : 'Всі зможуть побачити'">
                <mat-icon matSuffix [color]="formPhone.valid || !formPhone.touched ? 'primary' : 'warn'">phone</mat-icon>
                <mat-error *ngIf="formPhone.hasError('minlength')">
                  {{texts.validations.minLength}}
                  {{ 10}}
                </mat-error>
              </mat-form-field>
            </div>

            <mat-form-field>
              <mat-label>Нік в телеграм</mat-label>
              <input matInput formControlName="telegram" appTelegram [placeholder]="user.gameRole === 'player' ? 'Лише майстер побачить' : 'Всі зможуть побачити'">
              <mat-icon matSuffix [color]="formTelegram.valid || !formTelegram.touched ? 'primary' : 'warn'">telegram</mat-icon>
              <mat-error *ngIf="formTelegram.hasError('minlength')">
                {{texts.validations.minLength}}
                {{ formTelegram.getError('minlength')['requiredLength']}}
              </mat-error>
              <mat-error *ngIf="formTelegram.hasError('maxlength')">
                {{texts.validations.maxLength}}
                {{ formTelegram.getError('maxlength')['requiredLength']}}
              </mat-error>
              <mat-error
                *ngIf="formTelegram.getError('pattern')">
                {{texts.validations.telegramPattern}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-field-wrapper" *ngIf="user.gameRole === 'both'">
            <mat-slide-toggle formControlName="showContacts" [matTooltipClass]="'tooltip'"
                              [matTooltip]="'Якщо вибрано, будь-який користувач зможе побачити ваш телеграм, якщо ви майстер'"
                              class="m-t-10 m-b-10">
              Показувати телеграм у профілі
            </mat-slide-toggle>
          </div>
          <div class="d-flex justify-space-between">
            <p *ngIf="!user.confirmedEmail">Електронну скриньку не підтверджено <button mat-button color="primary">Підтвердити (в розробці)</button></p>

            <button mat-raised-button color="primary" [disabled]="form.disabled || form.invalid" (click)="submit()">
              Редагувати
            </button>
          </div>
          <button mat-raised-button color="primary" (click)="becomeMaster()">
            Стати майстром
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
