@import '/src/assets/scss/variables';
$padding-for-phone-prefix: 55px;
.edit-btn {
  transform: translateY(-3px);
}
.copy-icon {
  transform: translateY(7px);
  margin-left: $padding-s;
  cursor: pointer;
}
.phone {
  &__form-wrapper {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
  &__code {
    position: absolute;
    width: $padding-for-phone-prefix;
    left: 0;
    & ::ng-deep.mdc-text-field {
      border-top-right-radius: 0!important;
      padding: 0 12px;
    }
    input {
      transform: translateY(8px);
    }
  }
  &__field {
    width: 100%;
    & ::ng-deep.mdc-text-field {
      border-top-left-radius: 0!important;
    }
    &.mat-focused {
      width: calc(100% - $padding-for-phone-prefix);
    }
    &.filled {
      width: calc(100% - $padding-for-phone-prefix);
    }
  }
}
.email-verification {
  mat-icon {
    margin-right: $padding-xs;
    transform: translateY($padding-xs);
  }
}
.fields-with-avatar {
  display: flex;
  align-items: center;
}
.under-avatar-fields {
  flex: 1 1 0;
  padding-right: $padding-xl;
}
.avatar-image {
  width: 130px;
  height: 130px;
  margin: 0 auto $padding-l;
  cursor: pointer;
  transition: all .3s;
  &.disabled {
    cursor: default;
  }
  &:hover:not(.disabled ){
    //transform: translateY(3px);
    box-shadow:
      //0 2px 5px $primary-shadow-color;
      0 5px 10px rgba(36, 28, 27, .7),
      0 -2px 3px rgba(255, 255, 255, .9),
      0 -5px 8px rgba(255, 33, 12, .9),
      0 -8px 25px rgba(255, 62, 42, .5),
  }
}

@media screen and (max-width: $breakpoint-XS) {
  .fields-with-avatar {
    flex-wrap: wrap;
  }
  .under-avatar-fields {
    flex: 1 1 auto;
    padding-right: 0;
  }
}
