<div class="wrapper">
  <div class="w-100">
    <mat-card class="card-special" *ngIf="user else notUser">
      <mat-card-header class="justify-space-between">
        <mat-card-title>
          <h2 class="header">Дані: {{user.username}}</h2>
        </mat-card-title>
        <button class="edit-btn" [matTooltip]="'Редагувати'" [matTooltipClass]="'tooltip'" [color]="form.disabled ? 'accent' : 'primary'" (click)="toggleForm()" mat-mini-fab>
          <mat-icon>edit</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        <form class="form" [formGroup]="form">
          <mat-form-field>
            <mat-label>Ім'я</mat-label>
            <input matInput formControlName="name" [placeholder]="'Твоє звичайне ім\'я'">
            <mat-icon matSuffix [color]="'primary'" *ngIf="formName.valid || !formName.touched">sentiment_very_satisfied
            </mat-icon>
            <mat-icon matSuffix [color]="'warn'" *ngIf="formName.invalid && formName.touched">
              sentiment_very_dissatisfied
            </mat-icon>
            <mat-error *ngIf="formName.getError('maxlength')">
              {{texts.validations.maxLength}}
              {{ formName.getError('maxlength')['requiredLength']}}
            </mat-error>
          </mat-form-field>

<!--          <div class="fields-with-avatar">-->
<!--            <div class="under-avatar-fields">-->
<!--              <mat-form-field>-->
<!--                <mat-label>Ім'я</mat-label>-->
<!--                <input matInput formControlName="name" [placeholder]="'Твоє звичайне ім\'я'">-->
<!--                <mat-icon matSuffix [color]="'primary'" *ngIf="formName.valid || !formName.touched">sentiment_very_satisfied-->
<!--                </mat-icon>-->
<!--                <mat-icon matSuffix [color]="'warn'" *ngIf="formName.invalid && formName.touched">-->
<!--                  sentiment_very_dissatisfied-->
<!--                </mat-icon>-->
<!--                <mat-error *ngIf="formName.getError('maxlength')">-->
<!--                  {{texts.validations.maxLength}}-->
<!--                  {{ formName.getError('maxlength')['requiredLength']}}-->
<!--                </mat-error>-->
<!--              </mat-form-field>-->

<!--              <mat-form-field>-->
<!--                <mat-label>Додайте аватар</mat-label>-->
<!--                <ngx-mat-file-input placeholder="" formControlName="file" [color]="'accent'"-->
<!--                                    accept=".png, .jpg, .jpeg, .gif, .webp, .jfif">-->
<!--                </ngx-mat-file-input>-->
<!--                <mat-error *ngIf="formFile?.getError('maxSize')">-->
<!--                  {{texts.validations.maxImgSize}} 3Mb-->
<!--                </mat-error>-->
<!--              </mat-form-field>-->
<!--            </div>-->

<!--            <div class="avatar-image">-->
<!--              <img [src]="formFile.value ? ((formFile.value | fileToImg) | safePipe: 'url' ) :-->
<!--                user.avatar ? user.avatar : '../../assets/images/avatar-placeholder.jpg'" alt="avatar">-->
<!--            </div>-->
<!--          </div>-->

          <mat-form-field *ngIf="user.gameRole === 'both'">
            <mat-label>Про себе</mat-label>
            <textarea matInput formControlName="about" rows="3"
                      [placeholder]="'За бажання, розкажи трохи про себе, як майстра. Стиль гри, системи, досід, тощо.'"></textarea>
            <mat-error *ngIf="formAbout.getError('maxlength')">
              {{texts.validations.maxLength}}
              {{ formAbout.getError('maxlength')['requiredLength']}}
            </mat-error>
          </mat-form-field>

          <div formGroupName="contactData">
            <div class="phone__form-wrapper">
              <mat-form-field class="phone__code">
                <input matInput disabled value="+38">
              </mat-form-field>
              <mat-form-field class="phone__field" [ngClass]="{filled: formPhone.value}">
                <mat-label>Телефон</mat-label>
                <input matInput formControlName="phone" type="tel" appPhone
                  [placeholder]="user.gameRole === 'player' ? 'Лише майстер побачить' : 'Всі зможуть побачити'">
                <mat-icon matSuffix [color]="formPhone.valid || !formPhone.touched ? 'primary' : 'warn'">phone</mat-icon>
                <mat-error *ngIf="formPhone.hasError('minlength')">
                  {{texts.validations.minLength}}
                  {{ 10}}
                </mat-error>
              </mat-form-field>
            </div>

            <mat-form-field>
              <mat-label>Нік в телеграм</mat-label>
              <input matInput formControlName="telegram" [appSymbolBlock]="'telegram'" [placeholder]="user.gameRole === 'player' ? 'Лише майстер побачить' : 'Всі зможуть побачити'">
              <mat-icon matSuffix [color]="formTelegram.valid || !formTelegram.touched ? 'primary' : 'warn'">telegram</mat-icon>
              <mat-error *ngIf="formTelegram.hasError('minlength')">
                {{texts.validations.minLength}}
                {{ formTelegram.getError('minlength')['requiredLength']}}
              </mat-error>
              <mat-error *ngIf="formTelegram.hasError('maxlength')">
                {{texts.validations.maxLength}}
                {{ formTelegram.getError('maxlength')['requiredLength']}}
              </mat-error>
              <mat-error
                *ngIf="formTelegram.getError('pattern')">
                {{texts.validations.telegramPattern}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-field-wrapper m-t-20" *ngIf="user.gameRole === 'both'">
            <mat-slide-toggle formControlName="showContacts" [matTooltipClass]="'tooltip'"
                              [matTooltip]="'Якщо вибрано, будь-який користувач зможе побачити ваш телеграм, якщо ви майстер'"
                              class="m-t-10 m-b-10">
              Показувати телеграм у профілі
            </mat-slide-toggle>
          </div>
          <div class="d-flex justify-end">
            <button mat-raised-button color="primary" [disabled]="form.disabled || form.invalid || loading" (click)="submit()">
              {{loading ? 'Зачекайте...' : 'Зберегти зміни'}}
            </button>
          </div>
          <div *ngIf="!user.verified" class="email-verification m-t-5">
            <mat-icon [color]="'warn'">
              warning
            </mat-icon>
            <span>Електронну скриньку не підтверджено</span>
            <span
                (mouseenter)="updateDate()"
                [matTooltipClass]="'tooltip'"
                matTooltip="{{nextEmailDate > date ?
                'Ти можеш надіслати листа повторно через '+timeToResendMail().minutes+ 'хв. '+timeToResendMail().seconds +'сек.' : null}}"
              >
              <button mat-button color="primary"
                [disabled]="nextEmailDate > date"
                (click)="resendEmail()">
                Підтвердити
              </button>
            </span>
          </div>
          <div class="d-flex justify-end m-t-5" *ngIf="user.gameRole !== 'both'">
            <button mat-raised-button color="accent" (click)="becomeMaster()">
              Стати майстром
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>

    <ng-template #notUser>
      <h1>Ви не залогінені</h1>
    </ng-template>
  </div>
</div>
