//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
//@import './src/app/app.component.scss-theme';
@import 'assets/scss/theme';
@import 'assets/scss/variables';
@import 'assets/scss/common';

@font-face {
  font-family: "Ahellya";
  src: local("Ahellya"), url(./assets/fonts/Ahellya.ttf) format("truetype");
}
@font-face {
  font-family: "Ahellya-Italic";
  src: local("Ahellya-Italic"), url(./assets/fonts/Ahellya-Italic.ttf) format("truetype");
}
html, body { height: 100%; font-size: $default-font-size; }
body {
  margin: 0 auto;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #0e0d14;
  color: white;
}
p {
  margin: 0;
}
h1, .header {
  font-family: "Ahellya", Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: 2px;
}
h2 {
  margin: $padding-s 0;
}
button {
  font-size: 1rem;
}

input {
  color-scheme: dark;
}
.wrapper {
  max-width: $content-width;
  width: 100%;
  display: flex;
  justify-content: center;
}
.with-border {
  border: 15px solid $primary;
  border-radius: 4px;
  background: $primary;
  height: fit-content;
  mat-card {
    box-shadow: none;
  }
}
.accent-text {
  color: $accent;
}
.primary-text {
  color: $primary;
}
.semibold {
  font-weight: 600!important;
}
.mat-drawer-content {
  //margin-right: 320px!important;
}
.mat-drawer {
  background: #1f1c2c;
  border: none!important;
  //border-radius: 0 0 $border-radius-xl $border-radius-xl;
  box-shadow: -5px 0 5px 0 $primary-shadow-color;
}
.bordered-dialog {
  .mdc-dialog__surface {
    border-radius: $border-radius-xl!important;
    padding: 5px 5px;
    background: $primary!important;
  }
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
}

