@import './src/assets/scss/variables';
.form {
  padding: 5px 5px;
  background: $primary;
  mat-card {
    padding: 10px 15px;
    border-radius: $border-radius-xl!important;
  }
  .mat-form-field {
    width: 100%;
  }
}
