<div class="wrapper">
  <div class="w-100">
    <mat-card class="card-special">
      <mat-card-content *ngIf="stats$ | async as stats" class="d-flex">
        <div class="stat-block stat-block--primary">
          <span class="stat-block__title">Користувачів</span>
          <span class="stat-block__value">{{stats.totalUsers}}</span>
        </div>
        <div class="stat-block stat-block--primary">
          <span class="stat-block__title">Майстрів</span>
          <span class="stat-block__value">{{stats.totalMasters}}</span>
        </div>
        <div class="stat-block stat-block--primary">
          <span class="stat-block__title">Гравців</span>
          <span class="stat-block__value">{{stats.totalUsers - stats.totalMasters}}</span>
        </div>
      </mat-card-content>
      <mat-card-content>
        <form class="form" [formGroup]="form">
          <mat-form-field>
            <mat-label>UserName or Email</mat-label>
            <input matInput type="text" formControlName="userField">
            <mat-icon matSuffix
                      [color]="formUserField.valid || !formUserField.touched ? 'accent' : 'warn'">
              verified_user
            </mat-icon>
          </mat-form-field>
        </form>

        <div class="buttons">
          <button mat-raised-button color="primary" (click)="getUser()">
            Підтвердити
          </button>
        </div>
      </mat-card-content>
      <mat-card-content *ngIf="user">
        <pre>{{user | json}}</pre>
        <p>createdAt: {{user.createdAt | date:'dd.MM.YYYY hh:mm'}}</p>
        <p>updatedAt: {{user.updatedAt | date:'dd.MM.YYYY hh:mm'}}</p>
        <p>verificationDate: {{user.verificationDate | date:'dd.MM.YYYY hh:mm'}}</p>
        <p>gameRole: <b class="primary-text">{{user.gameRole}}</b></p>
        <div class="d-flex">
          <button class="m-r-10" mat-raised-button [color]="user.gameRole === 'player' ? 'primary' : 'accent'" (click)="changeGameRole(user.username)">
            {{user.gameRole === 'player' ? 'Зробити майстром':'Зробити гравцем'}}
          </button>

          <button mat-raised-button [color]="user.verified ? 'primary' : 'accent'" (click)="changeEmailVerification(user.username)">
            {{user.verified ? 'Зняти верифікацію':'Верифікувати'}}
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
